<div>
  <h1>New Store Submission</h1>

  <p>
    A user has submitted a new store. It is currently pending
    for review. Details are listed below.
  </p>

  <div class='store-details'>
    <div>
      <strong>Name:</strong><%= @store.name %>
    </div>
    <div>
      <strong>Description:</strong><%= @store.description %>
    </div>
    <div>
      <strong>URL:</strong>
      <a href='<%= @url %>'>
        <%= @url %>
      </a>
    </div>
  </div>

</div>
