<div id='reset-password-page'
       class='dead-center-wrapper yellow-background'>
  <div class='reset-password-form-container'>

    <h1 class='title has-text-centerd has-text-weight-bold'>
      Change Password
    </h1>

    <% resource.errors.full_messages.each do |m| %>
      <div class='notification is-danger'>
        <%= m %>
      </div>
    <% end %>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "New password", class: 'label' %>
        <div class='control has-icons-left'>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'input' %>
          <span class='icon is-left'>
            <i class='fas fa-lock'></i>
          </span>
        </div>
        <% if @minimum_password_length %>
          <p class='helper color-black'>
            <em>
            <%= @minimum_password_length %> characters minimum
            </em>
          </p>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password", class: 'label' %>
        <div class='control has-icons-left'>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'input'%>
          <span class='icon is-left'>
            <i class='fas fa-lock'></i>
          </span>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Change my password" , class: 'button pink-button', id: 'reset-password-submit-button'%>
      </div>
    <% end %>

    <div class='full-size base-top-bottom-margin flex-space-between'>
      <a href="/login">Login</a>
      <a href="/sign_up">Sign Up</a>
    </div>
  </div>
</div>
