<%  if  @user %>
  <div  id="user-info"
        data-first-name="<%=@user.first_name%>"
        data-last-name="<%=@user.last_name%>"
        data-role="<%=@user.role%>"
  />
<% end %>

<div id='main-body'>
  <div class='full-page yellow-background dead-center-wrapper'>
    <div class='oader-wrapper'>
      <div class='ta-loader'></div>
      <div style='text-align: center;'>
        <strong>Loading Your Stores</strong>
      </div>
    </div>
    </div>
  </div>
</div>

<script>
  window.bootstrapData = {
    tags: <%=Tag.all.to_json.html_safe%>,
    flashNotices: <%=flash.to_json.html_safe%>
  }
</script>
