@import 'variables';

.button{
  border: 0;
}

.button.white-button{
  color: $ta-hot-pink;
  background-color: $ta-white;

  &:hover{
    background-color: darken($ta-white, 5%);
  }
}

.button.yellow-button{
  color: $ta-black;
  background-color: $ta-yellow;
}

.button.pink-button{
  color: $ta-white;
  background-color: $ta-hot-pink;

  &:hover{
    background-color: darken($ta-hot-pink, 5%);
  }

  &:disabled{
    background-color: lighten($ta-hot-pink, 5%);
  }
}
