@import 'variables';

.footer.ta-footer{

  padding: 3rem 1.5rem;

  .footer-brand{
    font-size: 2rem;
    letter-spacing: 2px;
  }

  .footer-logo{
    max-height: 125px;
  }

  .footer-tag{
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  .footer-social{

    .icon{
      margin: 0.5rem;
    }
  }

}
