@import 'variables';

.ta-navbar, .ta-navbar-content{
  z-index: 5;
	width: 100%;
	color: $ta-hot-pink;
	background-color: $ta-yellow;
	height: 3rem;
  position: fixed;
}

.ta-navbar-logo{
	height: 2.8rem;
	max-width: 100%;
	margin: 0 0.45rem;
}

.ta-navbar-content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1.5rem;


  .invisible{
    width: 2.8rem;
  }

	.ta-navbar-center{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		color: $ta-hot-pink;

		&:hover{
			color: $ta-hot-pink;
		}

		span{
			text-transform: uppercase;
			font-weight: 600;
			font-size: 2.2rem;
		}
	}
}

.hamburger-menu{
	height: 2.8rem;
	width: 2.8rem;
	border: 0;
	padding: 0;
	padding-left: 0.5rem;
	background-color: $ta-yellow;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
  position: relative;
  z-index: 2;

	.bar {
		height: 0.25rem;
		margin: 0;
		background-color: $ta-hot-pink;
	}
}


.ta-sidebar {
  height: 100vh;
  width: 100%;
	position: fixed;
  display: flex;
  flex-direction: row;
	transform: translateX(-100%);
	transition: transform 0.3s cubic-bezier(.56,.1,.34,.91);
	font-weight: 600;
  z-index: 5;
	&.open {
		transform: translateX(0);
	}

  aside{
    float: left;
    background: rgba($ta-light-gray, 0.9);
    color: $ta-hot-pink;
    width: 250px;
    height: 100%;
    padding: 10px;
  }

  .shade{
    background: 0;
    flex-grow: 100;
    cursor: pointer;
  }

  a:hover{
    color: $ta-hot-pink;
  }

  a.active{
    color: $ta-hot-pink;
  }
}
