@import 'variables';

.notifications-container{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 1.2rem;
  z-index: 6;
  max-width: 50rem;

  .notification{
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    margin-bottom: 20px;

  }
}

.notification{
  font-weight: 600;
  &.warning{
    background-color: $warning;
    color: $ta-black;
  }

  &.success{
    background-color: $success;
    color: $white;
  }

  &.error{
    background-color: $danger;
    color: $white;
  }
}
