@import 'variables';

.store-review{
  padding: 0.5rem 0;
  border-bottom: 1px solid $black;

  &:last-child {
    border-bottom: none;
  }
}

.store-review-header{
  display: block;

  .store-review-name{
    color: $black;
    display: inline-block;
    font-weight: 900;
  }


  .store-review-date{
    color: $ta-gray;
    display: inline-block;
    padding: 0 0.5rem;
  }
}
