@import 'variables';

.store-photo-thumbnail-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.add-store-photo-thumbnail{
  margin: 0.5rem;
  height: 9rem;
  width: 9rem;
  cursor: pointer;

  &:hover{
    color: $ta-hot-pink;
  }
}

img {
  height: initial;
  width: initial;
}

.store-photo-thumbnail{
  margin: 0.5rem;

  figure{
    height: 9rem;
    width: 9rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    .thumbnail-image{
      position: absolute;
      top: -100%;
      bottom: -100%;
      right: -100%;
      left: -100%;
      margin: auto;
      min-height: 100%;
      min-width: 100%;
      height: initial;
      width: initial;
      max-width: initial;
    }
  }

  .thumbnail-delete-icon{
    color: $danger;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.store-photo-button-icon-filler, .store-photo-button-icon{
  max-width: 1.5rem;
}

.store-photo-modal-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  overflow: hidden;

  img{
    width: 100%;
    height: auto;
  }

  .store-photo-button-icon{
    cursor: pointer;
    color: $ta-white;
  }

  .store-photo-button-icon, .store-photo-button-icon-filler{
    &:first-child{
      margin-right: 1.5rem;
    }
    &:last-child{
      margin-left: 1.5rem;
    }
  }
}
