@import 'variables';

.store-card{
  width: 250px;
  border-radius: 15px;
  margin: 0 auto;

  .card-content{
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  .store-card{
    width: 350px;
  }
}

@media (max-width: 370px) {
  .store-card{
    width: 260px;
  }
}

.store-card-cover-image{
  height: 225px;
  background-size: cover;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.store-card-name{
  font-weight: 900;
  font-size: 1rem;
}

.store-card-footer{
  font-size: 0.85rem;
}
