@import 'variables';
.invisible{
  visibility: hidden;
}

html,body, #main-body{
  min-height: 100%;
}

.pointer{
  cursor: pointer;
}

#main-js-body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .site-content{
    flex: 1 0 auto;
    margin-top: 3rem;
    display: flex;

    & > * {
      flex: 1;
    }
  }
}

.full-size{
  width: 100%;
  height: 100%;
}

.full-height{
  height: 100%;
}

.full-width{
  width: 100%;
}

.base-padding{
	padding: 0.5rem;
}

.base-margin {
  margin: 0.5rem;
}

.base-side-margin{
  margin: 0 0.5rem;
}

.base-top-bottom-margin{
  margin: 0.5rem 0;
}

.dead-center-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.veritcal-center-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.flex-right-wrapper{
  display: flex;
  flex-direction: row-reverse;
}

.color-black{
  color: $ta-black;
}

.color-pink{
  color: $ta-hot-pink;
}

@media(max-width: 768px){
  .container{
    padding: 0.35rem;
  }
}

.roundify{
  border-radius: 50%;
}

@import "bulma/bulma";
@import "bulma-switch/src/sass/index";

.error-message{
  color: $ta-red;
}

.flex-space-between{
  display: flex;
  justify-content: space-between;
}

.save-buttons-container{
  margin-top: 1.5rem;
}
