@import 'variables';

.yellow-background{
  background-color: $yellow;
}

.white-background{
  background-color: $ta-white;
}

.pink-background{
  background-color: $ta-hot-pink;
  color: $ta-white;
}

.color-white{
  color: $ta-white;
}

a.color-white:hover{
  color: darken($ta-white, 20%);
}

.color-red{
  color: $ta-red;
}

.color-gray{
  color: $ta-gray;
}
