@import 'variables';

#home-banner-section{
  background-size: cover;
  position: relative;
  padding: 0;

  .dead-center-wrapper .column {
    flex-basis: auto;
  }

  .banner-title{
    font-size: 2.2rem;
    font-weight: 600;
    color: $ta-white;
  }

  @media(max-width: 768px) {

    .column{
      display: flex;
      justify-content: center;
    }
  }

}

#featured-stores-section{
  background-color: $ta-hot-pink;

  .title{
    color: $ta-white;
    font-weight: 900;
  }

}

#view-all-featured-stores{
  font-weight: 900;
  height: 3rem;
  width: 7rem;
  margin-top: 1.25rem;
}

#about-section{
  background-color: $ta-yellow;
  color: $ta-black;
  .title{
    color: $ta-black;
  }
}

.about-ta-image{
  max-height: 250px;
  max-width: 250px;
  display: block;
  margin: 0 auto;
}
