@import 'variables';

#login-page{
  .login-form{
    padding: 2.25rem;
    margin: 2rem 0;
    min-width: 400px;
  }
}

@media(max-width: 768px){
  #login-page{
      .login-form{
        padding: 0.5rem;
        min-width: 300px;
      }
  }
}
