@import 'variables';

#reset-password-page{
  height: 100vh;
}

.reset-password-form-container{
  padding: 1rem;
  margin: 0.5rem;
  background: $ta-white;
}

#reset-password-submit-button{
  display: block;
  margin: 0 auto;
}
