@import 'variables';

.sign-up-form{
  padding: 1rem;
  min-width: 350px;
  max-width: 500px;
  margin: 1rem;

  @media (max-width: 370px) {
    min-width: 300px;
  }

  @media (max-width: 500px) {
    margin: 0.25rem;
    .column{
      padding: 0.2rem 0.5rem;
    }
  }
}
