@import 'variables';

#store-banner-section{
  background-size: cover;
  position: relative;
  padding: 0;
}

#store-info{
  background-color: $ta-white;
  border-radius: 1rem;
  box-shadow: 0 4px 8px $ta-gray;
  max-width: 800px;
  min-height: 200px;
  width: '100%';
  padding: 1rem;
}

.store-info-section{
  margin: 0.5rem 0;
}

.store-info-section-title{
  color: $ta-hot-pink;
  font-size: 1.4rem;
  font-weight: 900;
}

.store-map-info-box{
  width: 200px;
  background-color: $ta-yellow;
  border-radius: 0.25rem;
  opacity: 0.75;
  color: $ta-black;
  padding: 0.5rem;

  .store-map-info-box-navgiation{
    font-size: 1rem;
    color: $ta-black;
  }

  .store-map-info-box-address{
    font-size: 0.75rem;
    color: $ta-black;
  }
}

.admin-section{
  margin: 1.25rem 0;
}

.admin-section-header{
  h3{
    font-size: 1.6rem;
    font-weight: 900;
  }
}
