@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";


$ta-yellow: #f9dc5c;
$ta-hot-pink: #e20177;
$ta-white: #fff;
$ta-black: #343434;
$ta-gray: #a8a8a8;
$ta-red: #ff0000;
$ta-light-gray: lighten($ta-gray, 25%);
$family-primary: 'Raleway', sans-serif;
$family-header: 'Lato', sans-serif;
$black: $ta-black;
$white: $ta-white;
$yellow: $ta-yellow;

@import "bulma/sass/utilities/derived-variables";

