<!DOCTYPE html>
<html>
  <head>
    <title>The Resale District</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Resale District, your one-stop guide to discover must-visit thrift, consignment and vintage stores in your neighborhood or nationwide!">
    <%= render 'partials/css_loader' %>
    <%= render 'partials/favicons' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', async: true %>
</html>
